.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 15px
}

.container {
    margin: 10px auto !important;
    padding: 10px;
    width: 100%;
    border: 1px solid rgb(182, 181, 181);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    min-width: 300px;
    width: 300px;
}
